build/
.vagrant/
docs/.Python
docs/bin/
docs/include/
docs/lib/
docs/_build/
*.out
coverage.html
*.DS_Store*
*.retry
api/exp/generated/
*buildinfo.go
release_assets/
cover.html
*.tbd
test-api.py
venv/
